<div class="container">
  <form #login="ngForm" (ngSubmit)="onSubmit(login)">
    <h4>Login</h4>
    <div class="hr"></div>
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput required ngModel name="phoneNumber" />
      <mat-error>Phone number is required</mat-error>
    </mat-form-field>

    <mat-form-field class="passwordInput" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput required ngModel name="password" [type]="hide ? 'password' : 'text'" />
        <mat-error>Password is required</mat-error>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

    </mat-form-field>
    <div class="forgottenPassword">
        <a href="">Forgot password?</a>
    </div>

    <button
      class="submit"
      [disabled]="!login.valid"
      mat-raised-button
      color="primary"
    >
      Login
    </button>

    <div class="signup">
        <p>Not a member yet? <a routerLink="/signup">Signup here</a></p>
    </div>
  </form>
</div>
